{% extends 'base.html' %}

{% load static %}

{% block title %} Viaje Fácil {% endblock %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/index_alojamientos.css' %}">
{% endblock %}

{% block content %}
<div class="container-search-section">
    <section class="search-section text-white py-4">
        <div class="search-form">
            <h1 class="mb-3">Encuentra tu próxima estancia</h1>
            <p class="mb-4">Busca ofertas en hoteles, casas y mucho más...</p>
            <form class="row gx-2 gy-3 align-items-end">
                <!-- Destino -->
                <div class="col-12  col-md-12 position-relative">
                    <input type="text" id="destino" class="form-control" placeholder="Elija un destino" autocomplete="off">
                    <div id="sugerencias" class="sugerencias"></div>
                </div>

                <!-- Fecha entrada -->
                <div class="col-6 col-md-3">
                    <input type="date" class="form-control" placeholder="Fecha Entrada">
                </div>

                <!-- Fecha salida -->
                <div class="col-6 col-md-3">
                    <input type="date" class="form-control" placeholder="Fecha Salida">
                </div>

                <!-- Personas -->
                <div class="col-6 col-md-2">
                    <input type="number" class="form-control" placeholder="Personas" min="1">
                </div>

                <!-- Habitaciones -->
                <div class="col-6 col-md-2">
                    <input type="number" class="form-control" placeholder="Habitaciones" min="1">
                </div>

                <!-- Botón -->
                <div class="col-12 col-md-2">
                    <a href="{% url 'hotel:lista_hoteles' %}" class="btn btn-success w-100">Buscar</a>
                </div>
            </form>
        </div>
    </section>
</div>

<div class="container-popular-destinations">
    <section class="popular-destinations">
        <div class="container">
            <h2>Destinos de moda</h2>
            <p class="text-muted">Opciones más populares entre la comunidad viajera de Argentina</p>
            <div class="row justify-content-center g-4 mt-3">
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="destination">
                        <img src="{% static 'img/bsas.jpg' %}" alt="Buenos Aires">
                        <div class="dest-title">Buenos Aires</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="destination">
                        <img src="{% static 'img/mardel.jpg' %}" alt="Mar del Plata">
                        <div class="dest-title">Mar del Plata</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="destination">
                        <img src="{% static 'img/riojaneiro.jpg' %}" alt="Rio de Janeiro">
                        <div class="dest-title">Río de Janeiro</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="destination">
                        <img src="{% static 'img/barilo.jpg' %}" alt="Bariloche">
                        <div class="dest-title">Bariloche</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="destination">
                        <img src="{% static 'img/cba.jpg' %}" alt="Cordoba">
                        <div class="dest-title">Córdoba</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block script %} 
    <script>
        const DESTINOS_API_URL = "{% url 'hotel:api_destinos' %}";
    </script>
    <script src="{% static 'js/index_alojamientos.js' %}"></script>
{% endblock %}
