{% extends 'base.html' %}

{% load static %}

{% block title %} Viaje Fácil {% endblock %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/lista_hoteles.css' %}">
{% endblock %}

{% block content %}
    <div class="container-search-section">
        <section class="search-section">               
            <div class="search-form">
                <div class="autocomplete-container">
                    <input type="text" id="destino" placeholder="Elija un destino" autocomplete="off">
                    <div id="sugerencias" class="sugerencias"></div>
                </div>                
                <input type="date" class="fecha_entrada" placeholder="Fecha Entrada">
                <input type="date" class="fecha_salida" placeholder="Fecha Salida">
                <input type="number" class="cantidad_personas" placeholder="Personas" min="1">
                <input type="number" class="cantidad_habitaciones" placeholder="Habitaciones" min="1">
                <button onclick="buscar()">Buscar</button>
            </div>
        </section>
    </div> 

    <div class="container-filter-section">
        <section class="filter-section">
            <h3>Filtrar por:</h3>
        
            <label>Tu presupuesto (por noche)</label>
            <input type="range" min="15000" max="200000" step="5000" />
            <p>$15.000 - $200.000+</p>
        
            <label>Categoría del alojamiento</label>
            <div><input type="checkbox" /> 3 estrellas</div>
            <div><input type="checkbox" /> 4 estrellas</div>
            <div><input type="checkbox" /> 5 estrellas</div>
        
            <label>Servicios de la habitación</label>
            <div><input type="checkbox" /> Cocina</div>
            <div><input type="checkbox" /> TV</div>
            <div><input type="checkbox" /> Aire acondicionado</div>
            <div><input type="checkbox" /> Piscina climatizada</div>
            <div><input type="checkbox" /> Spa</div>
        </section>
    </div> 

    <div class="container-hotel-list-section">
        <section class="hotel-list-section">
            <h1>Hoteles Disponibles</h1>
            <div class="hotel-grid">
                {% for hotel in hoteles %}
                <div class="hotel-card">
                    {% if hotel.imagen_hotel %}
                        <img src="{{ hotel.imagen_hotel.url }}" alt="{{ hotel.nombre_hotel }}" class="hotel-image">
                    {% else %}
                        <img src="{% static '/img/default-hotel.jpg' %}" alt="Imagen no disponible" class="hotel-image">
                    {% endif %}
                    <div class="hotel-info">
                        <h3>{{ hotel.nombre }}</h3>
                        <p>{{ hotel.descripcion|truncatewords:25 }}</p>
                        <p>Estrellas: {{ hotel.estrellas }}</p>
                        <p>
                            Precio desde:      
                        </p>
                    </div>
                </div>
                {% empty %}
                    <p>No hay hoteles disponibles en este momento.</p>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block script %} 
    <script>
        const DESTINOS_API_URL = "{% url 'buscar_alojamientos:api_destinos' %}";
    </script>
    <script src="{% static 'js/lista_hoteles.js' %}"></script>
{% endblock %}     